.App {
  text-align: center;
  background: #e8f0f1;
  height: 100vh;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  color: whitesmoke;
  background-color: #d6a345;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 10px;
  height: 40px
}

.App-link {
  color: #61dafb;
}

.container-view {
  display: flex;
  justify-content: center;

}

.card-view {
  display: flex;
  justify-content: center;
  padding: 30px;
  background: #e8f0f1;
}

.toogle-button {
  color: white;
  background: #0000ffa6;
  padding: 6px;
  border-radius: 6px;
  border: none;
  margin: 10px;
  cursor: pointer;

}

.search-view {
  padding: 8px;
  margin: 8px;
  border-radius: 6px;
  width: 95%;
  border: none;
}

.form-view {
  padding: 8px;
  margin: 15px;
  border-radius: 6px;
  width: 50%;
  border-width: 1px;
  justify-content: center;

}

.label-text {
  text-align: right;
  font-weight: 500;
}

.submit-button {
  width: 120px;
  color: white;
  background: rgba(0, 0, 255, 0.65);
  padding: 10px;
  border: none;
  border-radius: 6px;

}

custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  /* Set a smaller width */
}

/* Optional: Style the scrollbar thumb (the draggable part) */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Change color */
  border-radius: 4px;
  /* Round the corners */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  /* Use a thinner scrollbar */
}

.text-size {
  color: black;
  font-weight: 500;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}